{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": false,
                "fileName": true,
                "displayName": true,
                "pure": true
            }
        ]
    ]
}
